# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/

# SQLite Database
*.db

# Environment Variables
.env

# Node
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
